<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><h1>Customers</h1></div>
                    <div class="card-body">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <el-button @click="resetDateFilter">reset date filter</el-button>
                                    <el-button @click="clearFilter">reset all filters</el-button>
                                    <el-table
                                        ref="filterTable"
                                        :data="tableData"
                                        style="width: 100%">
                                        <el-table-column
                                            prop="date"
                                            label="Date"
                                            sortable
                                            width="180"
                                            column-key="date"
                                            :filters="[{text: '2016-05-01', value: '2016-05-01'}, {text: '2016-05-02', value: '2016-05-02'}, {text: '2016-05-03', value: '2016-05-03'}, {text: '2016-05-04', value: '2016-05-04'}]"
                                            :filter-method="filterHandler"
                                        >
                                        </el-table-column>
                                        <el-table-column
                                            prop="name"
                                            label="Name"
                                            width="180">
                                        </el-table-column>
                                        <el-table-column
                                            prop="address"
                                            label="Address"
                                            :formatter="formatter">
                                        </el-table-column>
                                        <el-table-column
                                            prop="tag"
                                            label="Tag"
                                            width="100"
                                            :filters="[{ text: 'Home', value: 'Home' }, { text: 'Office', value: 'Office' }]"
                                            :filter-method="filterTag"
                                            filter-placement="bottom-end">
                                            <template slot-scope="scope">
                                                <el-tag
                                                    :type="scope.row.tag === 'Home' ? 'primary' : 'success'"
                                                    disable-transitions>{{scope.row.tag}}</el-tag>
                                            </template>
                                        </el-table-column>
                                    </el-table>

                                    <el-table
                                        ref="filterTable"
                                        :data="filteredCustomers"
                                        style="width: 100%">
                                        <el-table-column
                                            v-for="column in columns"
                                            :prop="column.name"
                                            :label="column.label"
                                            :column-key="column.name"
                                            sortable
                                            width="180">
                                        </el-table-column>
                                    </el-table>


                                    <div class="table-responsive">
                                        <table class="table table-hover data-table">
                                            <thead>
                                                <tr>
                                                    <th v-for="column in columns">
                                                        {{ column.label }}
                                                        <i :key="column.name" @click="sortBy(column.name)" :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'mdi mdi-arrow-down' : 'mdi mdi-arrow-up') : 'sorting'"
                                                           :style="'cursor:pointer;'"></i>
                                                    </th>
                                                    <th><i class="fa fa-cogs" aria-hidden="true"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="filteredCustomers.length > 0">
                                                <tr v-for="item in filteredCustomers">
                                                    <td>{{ item.id }}</td>
                                                    <td v-html="highlight(item.first_name)">{{ item.first_name }}</td>
                                                    <td>{{ item.last_name | properCase }}</td>
                                                    <td>{{ item.email }}</td>
                                                    <td class="text-success">{{ item.address }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--pagination class="mt-3 is-centered" :data="customers" @pagination-change-page="ListCustomers">
                                            <span slot="prev-nav"><i class="mdi mdi-chevron-double-left menu-icon"></i></span>
                                            <span slot="next-nav"><i class="mdi mdi-chevron-double-right menu-icon"></i></span>
                                        </pagination-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CustomersComponent",
        data() {
            let sortOrders = {};

            let columns = [
                {label: '№', name: 'Id', sortable: true, type: 'number'},
                {label: 'Имя', name: 'fist_name', sortable: true, type: ''},
                {label: 'Фамилия', name: 'last_name', type: ''},
                {label: 'E-mail', name: 'email', type: ''},
                {label: 'Адрес', name: 'address', type: ''},
            ];

            columns.forEach((column) => {
                sortOrders[column.name] = 1;
            });

            return {
                customers: {},
                search: '',
                columns: columns,
                sortKey: 'Id',
                sortOrders: sortOrders,
                tableData: [{
                    date: '2016-05-03',
                    name: 'Tom',
                    address: 'No. 189, Grove St, Los Angeles',
                    tag: 'Home'
                }, {
                    date: '2016-05-02',
                    name: 'Tom',
                    address: 'No. 189, Grove St, Los Angeles',
                    tag: 'Office'
                }, {
                    date: '2016-05-04',
                    name: 'Tom',
                    address: 'No. 189, Grove St, Los Angeles',
                    tag: 'Home'
                }, {
                    date: '2016-05-01',
                    name: 'Tom',
                    address: 'No. 189, Grove St, Los Angeles',
                    tag: 'Office'
                }],
            }
        },
        async created() {
            this.ListCustomers();
        },
        computed: {
            filteredCustomers() {
                let customers = this.customers;

                if (this.search) {
                    customers = customers.filter((customer) => {
                        return Object.keys(customer).some((key) => {
                            return String(customer[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                        });
                    });
                }

                let sortKey = this.sortKey;
                let order = this.sortOrders[sortKey] || 1;

                if (sortKey) {
                    /*customers = customers.slice().sort((a, b) => {
                        let index = this.getIndex(this.columns, 'Id', sortKey);
                        a = String(a[sortKey]).toLowerCase();
                        b = String(b[sortKey]).toLowerCase();

                        return (a === b ? 0 : a > b ? 1 : -1) * order;
                    });*/
                }

                return customers;
            }
        },
        methods: {
            ListCustomers(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                let uri = '/api/customers?page='+page;

                this.axios.get(uri).then(response => {
                    this.customers = response.data.customers.data;
                })
                .catch(() => {
                    console.log('Error: CustomersComponent.vue');
                });
            },
            sortBy(key) {
                this.sortKey = key;
                this.sortOrders[key] = this.sortOrders[key] * -1;
            },
            getIndex(array, key, value) {
                return array.findIndex(i=>i[key] == value);
            },
            highlight(text) {
                return text.replace(new RegExp(this.search, 'gi'), '<span class="text-success">$&</span>');
            },

            resetDateFilter() {
                this.$refs.filterTable.clearFilter('date');
            },
            clearFilter() {
                this.$refs.filterTable.clearFilter();
            },
            formatter(row, column) {
                return row.address;
            },
            filterTag(value, row) {
                return row.tag === value;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            }
        },
        filters: {
            properCase(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
        }
    }
</script>

<style scoped>

</style>
